mysql_dev
mysql_prod
backend/tmp/

docker-compose-prod.yml
docker-compose-dev.yml

backend/src/app/controllers/TeacherController/SessionTeacherController.js
docker-compose-prod-only-api.yml
yarn.lock
mysql.env